<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="otherBean02" class="com.test02.OtherBean02"/>
    <bean id = "bean02" class="com.test02.Bean02">
        <!--2.用set方法注入属性不用定义构造方法-->
        <property name="otherBean02" ref="otherBean02"/>
        <property name="name2" value="hello name2"/>
    </bean>
</beans>