<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.test01.Bean01" id="bean01" init-method="onInit" destroy-method="onDestroy"/>
    <bean class="com.test01.Bean02" id="bean02"/>
</beans>